/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background: #304536;
}

/* Header Styles */
.header {
  background: #352109;
  color: white;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.5); */
  position: sticky;
  top: 0;
}

.top-banner {
  padding: 8px 0;
  text-align: center;
  font-size: 0.9rem;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 12%;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* Hero Section */
.hero-section {
  position: relative;
  color: white;
  text-align: center;
  padding: 100px 20px;
  /* margin-top: 70px; */
  background: #241e4e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2000;
}

.hero-content {
  font-size: 1.5rem;
  max-width: 800px;
  text-align: left;
  margin-left: 15%;
}

.hero-content button {
  background: #f98a00;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.hero-content button a {
  text-decoration: none;
}

.hero-content button:hover {
  background: #f7b52b;
}

/* Features Grid */
.features-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 200px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.features-card {
  /* border: 1px solid #eee; */
  background: #04250e;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.features-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.features-info {
  padding: 1rem;
}

.features-info h3 {
  margin-bottom: 1rem;
  border-bottom: solid white 1px;
}

.features-info p {
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  background: #04250e;
  padding: 40px 20px;
  margin-top: 60px;
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

#footer-info {
  border-right: solid white 1px;
  padding-right: 20px;
}
